ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #767676;
}

li {
  float: left;
}

li a {
  font-family: sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change  */
li a:hover{
  background-color: white;
  color: #767676;
}
